{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rooftop-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>San Miguel's Beautiful Rooftops</h1>
</section>

<section class="card-container">
  {% for rooftop in rooftops %}
    <div class="card">
    <a href="{% url 'rooftops_detail' rooftop.id %}">
      <div class="card-content">
        <div class="card-img-container">
            {% if rooftop.photo.url %}
              <img 
                src="{{rooftop.photo.url}}" 
                alt="A photo of {{rooftop.name}}"
                class="usr-img"
              >
            {% else %}
              <img 
                src="{% static 'images/San-miguel.jpg' %}" 
                alt="A skater boy rooftop"
                class="usr-img"
              >
            {% endif %}
          </div>
        <h2 class="card-title">{{ rooftop.name }}</h2>
        <p><small>{{ rooftop.description }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>
{% if user.is_authenticated %}
<a href="{% url 'rooftops_create' %}" class="add-rooftop">*Add your favorite San Miguel Rooftop!</a>
{% endif %}

{% endblock %}