{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rooftop-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Rooftop List</h1>
</section>

<section class="card-container">
  {% for rooftop in rooftops %}
    <div class="card">
    <a href="{% url 'rooftops_details' rooftop.id %}">
      <div class="card-content">
        <div class="card-img-container">
        </div>
        <h2 class="card-title">{{ rooftop.name }}</h2>
        <p><small>{{ rooftop.description }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}