{% extends 'base.html' %}

{% block content %}

<h1 class="main-about-header">About San Miguel INC</h1>
<hr>
<h2>
  Our goal is to help make your visit to San Miguel De Allende the best expeience of your life!
</h2>
<h1>Meet the team</h1>
<h2>Victor Zarate</h2>
<img class="family-img" src="https://i.imgur.com/cAycbnc.jpg" alt="">
<img class="family-img2" src="https://i.imgur.com/abkm8vn.jpg" alt="">
<h3>Both sides of Victors family originate from San Miguel de Allende and the surounding areas. Victor no longer lives in San Miguel but continues to be so proud of where he is from and will continue to advocate for his home town! </h3>

<h1>San Miguel INC's mission</h1>
<hr>
<h2>"Our mission is to not only help you choose the best locations to spend your time here in San Miguel, but to also encourage and inspire anyone who has yet to visit! Once you step foot on our magical cobblestone streets, you'll fall in love and never want to leave"</h2>
</h3>~Below are pictures from one of our recent trips to San Miguel! Enjoy!~</h3>
<hr>
<img class="trip-img" src="https://i.imgur.com/dvLCmrB.jpg" alt="Ladies in aldame st">
<img class="trip-img" src="https://i.imgur.com/P62qBdS.jpg" alt="View of San miguel hill">
<img class="trip-img" src="https://i.imgur.com/4z4Zo32.jpg" alt="Ladies in aldame st">
<img class="trip-img" src="https://i.imgur.com/5FTL2Ys.jpg" alt="Ladies in aldame st">
<img class="trip-img" src="https://i.imgur.com/8wMXmMh.jpg" alt="Ladies in aldame st">
<img class="trip-img" src="https://i.imgur.com/2IEbRhB.jpg" alt="Ladies in aldame st">
<img class="aldame-img" src="https://i.imgur.com/3yALi9X.jpg" alt="Ladies in aldame st">
{% endblock %}