{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<section>
  <h1>San Miguel INC</h1>
    <h3 class="intro-message">Congratulations! You're booked to visit the beautiful city of San Miguel de Allende, also known as the Heart of Mexico💛 🇲🇽</h3>
      <p>Watch this short video to get excited!</p>
      <iframe width="905" height="509" src="https://www.youtube.com/embed/1F_HlyhM3oM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="intro-message">One thing missing from that video is San Miguel's rooftops! This city is filled with countless rooftops with the best views in the world! Checkout our Rooftops page to find out where you can spend your evenings here while on vacation!</p>
</section>
<div>
  <img src="https://media.cntraveler.com/photos/595f8364ff85a64616487b23/16:9/w_2560%2Cc_limit/San%252520Miguel%252520De%252520Allende%252520Mexico%25252001.jpg" alt="">
  </div>

{% endblock %}