
.rooftop-container {
  margin-top: 20px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid maroon;
}

.rooftop-img {
  width: 100%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.rooftop-details {
  padding-top: 10px;
  width: 50%;
}

.rooftop-actions {
  margin-top: 20px;
}

.rooftop-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.rooftop-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.rooftop-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.rooftop-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .rooftop-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .rooftop-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }